func (s *{{.StructName}}) {{.Name}}({{.CtxName}} context.Context, request *{{.RequestType}}) (data []*{{.ResponseType}}, err error) {
	logger.Log({{.CtxName}}).Debug("START")
	defer logger.Log({{.CtxName}}).Debug("END")

{{.Body}}
}
