{{range .Usings}}using {{.}};
{{end}}
namespace {{.Namespace}}
{
    public interface I{{.Service}}
    {
{{range .Endpoints}}        Task<{{.RetType}}> {{.Name}}({{$.RequestDTO}} request, CancellationToken cancellationToken);
{{end}}    }
}
